nav{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, #70c7f9, #108ed6);
    box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.3);
    height: 8em;
    margin: 0;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute; 
    left: 2em;
    padding: 0.6em;
}

.logo > img{
    width: 8em;
    margin: 0.2em;
    margin-right: 0.7em;
}


/* PRZYCISK */

button.side-menu-trigger{
    align-items: center;
    background: none;
    border: none;
    box-shadow: none;
    width: auto;
    margin: 0;
    position: absolute;
    right: 2em;
}

button.side-menu-trigger > i{
    font-size: 3em;
    cursor: pointer;
}

/* GÓRNA CZĘŚĆ */

.side-top {
    box-sizing: border-box;
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 8em;
    width: 100%;
    padding: 0;
    background: #ffffff;
    transition: 0.3s transform ease-in-out;
    -webkit-box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.3);
    box-shadow: -2px 0px 6px 0px rgba(0,0,0,0.3);
}

.small-dott{
    height: 6em;
    width: 6em;
    border-radius: 3em;
    background-color: #40aae7;
    margin: 1em;
    -webkit-box-shadow: rgba(0,0,0,0.3) 2px 2px 6px;
    -moz-box-shadow: rgba(0,0,0,0.3) 2px 2px 6px;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 6px;
}
 
.small-dott > i{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #fff;
    height: 100%;
    padding: 0;
    margin: 0;
    font-size: 2.5em;
}

.top-nickname > h3 {
    margin: 0;
    padding: 0;
    font-size: 2em;
    color: #40aae7;
    font-weight: bold;

    text-align: left;
}

.top-nickname > h5 {
    margin: 0;
    padding: 0;
    font-size: 1em;
    color: #40aae7;
    font-weight: bold;

    text-align: left;
    margin-left: 0.1em;
}

/* DOLNA CZĘŚĆ */

.side-bottom {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 100%;
    top: 8em;
    padding: 0;
    background: transparent linear-gradient(180deg, #4AB4EE 0%, #005384 100%) 0% 0% no-repeat padding-box;
    transition: 0.3s transform ease-in-out;
    -webkit-box-shadow: -2px 6px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 6px 6px 0px rgba(0,0,0,0.3);
    box-shadow: -2px 6px 6px 0px rgba(0,0,0,0.3);
}

.list{
    display: flex;
    position: absolute;
    flex-flow: wrap;
    justify-content: center;
    width: 100%;
    height: auto;
}

a.big-dott{
    height: 8em;
    width: 8em;
    margin: 2em;
    border-radius: 4em;
    background-color: #ffffff;
    -webkit-box-shadow: rgba(0,0,0,0.3) 2px 2px 6px;
    -moz-box-shadow: rgba(0,0,0,0.3) 2px 2px 6px;
    box-shadow: rgba(0,0,0,0.3) 2px 2px 6px;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
}

a.big-dott > i{
    color: #40aae7;
    font-size: 3.5em;

}

a:visited {
    text-decoration: none;
}

a:link{
    text-decoration: none;
}

a:active {
    text-decoration: none;
}
a:hover {
    text-decoration: none;
}


/* Container */

.humburger-menu {
    display: flex;
    box-sizing: border-box;
    position: absolute;
    height: 100%;
    width: 24em;
    top: 0em;
    right: -24em;
    padding: 0;
    transition: 0.3s transform ease-in-out;
    -webkit-box-shadow: -2px 6px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: -2px 6px 6px 0px rgba(0,0,0,0.3);
    box-shadow: -2px 6px 6px 0px rgba(0,0,0,0.3);
    z-index: 100;
}

.side-menu-trigger:focus ~ .humburger-menu, .humburger-menu:hover {
    transform: translateX(-24em); 
}