body{
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(180deg, #5BC3FF 0%, #005384 100%) 0% 0% no-repeat padding-box;
}

.logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

.logo > img {
    width: 21em;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.input-field{
    margin: 1.5em;
    padding: 0em;
    padding-left: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
    margin-bottom: 0.5em;
}

.input-field:last-child{
    margin-left: 5em;
}

.input-field > input{
    width: 12em;;
    height: 2em;;
    font-size: 1.5em;
    text-align: left;
    color: #ffffff;
    background: none;
    border: none;
    margin: 0.0em;
    padding: 0;
    padding-left: 0em;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: white;
}

.white-line{
    height: 1px;
    width: 100%;
    background: #fff;
    
}

.input-field > i{
    height: 2em;
    color: #fff;
    padding-top: 1em;
    margin: 0;
    border-bottom: 1px; 
    padding-right: 0.5em;
    border-bottom-style: solid;
    border-color: white;
}

::placeholder{
    color: #bbb;
    font-style: italic;
}

::-ms-input-placeholder{
    color: #bbb;
    font-style: italic;
}

::-webkit-input-placeholder{
    color: #bbb;
    font-style: italic;
}

button{
    width: 21em;
    height: 3.5em;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #ffffff;
    border: 0;
    color: #008fe4;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    margin: 1.5em;
    opacity: 0.9;
}

button:hover{
    opacity: 1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

.media{
    margin: 0.5em;
}
.media > a >img{
    width: 5em;
    margin: 0.5em;
    opacity: 0.7;
}

.media > a > img:hover{
    opacity: 1;
}
.register {

    color: #fff;
}

.register > a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    opacity: 0.7;
}

.register > a:hover {
    opacity: 1;
}

@media only screen and (max-device-width: 992px){
    .inputs{
        flex-direction: column;
    }

    .input-field:last-child{
        margin-left: 0;
    }

    .input-field{
        border-bottom: 2px; 
        border-bottom-style: solid;
        border-color: white;
    }

    body{ 
        font-size: 24px;
    }
}

.messages{
    color: #fff;
    font-size: 1.2em;
}