/* MOBILE */

@media only screen and (max-device-width: 992px){
    body{ 
        font-size: 24px;
    }

    /* FOOTER */
    footer{
        height: 5em;
    }

    /* H1 TEXT*/
    h1{
        font-size: 7em;
    }

    /* INPUTS */
    .input-field > input{
        border-bottom: 2px;
        border-bottom-style: solid;
        border-color: #40aae7;
    }

    .ico{
        border-bottom: 2px; 
        border-bottom-style: solid;
        border-color: #40aae7;
    }

    .one-line{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .input-field{
        padding: 0.7em;
    }

    /* BUTTON */
    
    button{
        opacity: 1;
    }

    /**/

    article.noti{
        width: 90%;
    }

}