

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: inherit;
    align-items: center;
    background: transparent linear-gradient(180deg, #5BC3FF 0%, #005384 100%) 0% 0% no-repeat padding-box;
}

.register-box{
    height: 34em;
    width: 36em;
    background-color: #ffffff;
    border-radius: 2em;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2{
    font-size: 5em;
    color: #40aae7;
    font-weight: bold;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
    margin: 0.3em;
    text-align: center;
    padding: 0;
}

button{
    cursor: pointer;
}