body{
    font-size: 12px;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: Candara;
    
}

/* FOOTER */

footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    position:absolute; 
    bottom:0;
    margin: 0;
    height: 7em;
    width: 100%;
    background-image: linear-gradient(to bottom, #ccc, #ccc);
    -webkit-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.3);
    box-shadow: 0px -2px 6px 0px rgba(0,0,0,0.3);
    color: #777;
}

.foot-mail{
    font-weight: 700;
}

/* TEXTY */

h1{
    font-size: 10em;
    color: #40aae7;
    font-weight: bold;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 0.5em;
    text-align: center;
}

h3{
    font-size: 4em;
    color: #40aae7;
    font-weight: bold;
    text-shadow: 0 1px 4px rgba(0, 0, 0, 0.3);
    margin: 0;
    padding: 0;
    text-align:left;
    display: flex;
    flex-direction: row;
    
}

h2{
    font-size: 2em;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align:left;
    display: flex;
    flex-direction: row; 
}

h4{
    font-size: 1.5em;
    color: #fff;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align:left;
    display: flex;
    flex-direction: row; 
}

p{
    font-size: 1.5em;
    color: #40aae7;
    margin: 0;
    padding: 0;
    text-align: justify;
}

p > a:link{
    text-decoration: none;
    color: #40aae7;
}
p > a:hover{
    text-decoration: none;
    color: #40aae7;
}
p > a:visited{
    text-decoration: none;
    color: #40aae7;
}
p > a:active{
    text-decoration: none;
    color: #40aae7;
}

/* article.noti */
article.noti{
    width: 50%;
}

.head-noti{
    display: flex;
    flex-direction: row;
}

/* CONTAINER */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INPUTS */

.input-field{
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 2em;
    padding: 1em;
    padding-left: 0;
    margin: 1em;
}

.input-field > input{
    width: 12em;
    height: 2em;
    font-size: 2em;
    text-align: left;
    color: #40aae7;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: #40aae7;
    padding-left: 0.25em;
    
}
.ico{
    height: 2em;
    font-size: 2em;
    border-bottom: 1px; 
    border-bottom-style: solid;
    border-color: #40aae7;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0;
}
.ico > i{
    font-size: 0.75em;
    color: #40aae7;
    padding: 0;
    margin: 0;
    padding-right: 0.25em;
}

::placeholder{
    color: #40aae7;
    font-style: italic;
    opacity: 0.7;
}

::-ms-input-placeholder{
    color: #40aae7;
    font-style: italic;
    opacity: 0.7;
}

::-webkit-input-placeholder{
    color: #40aae7;
    font-style: italic;
    opacity: 0.7;
}

.input-sq-s{
    height: 3.1em;
    width: 3.1em;
    background-color: #40aae7;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items:center;
    border-radius: 0.5em 0.5em 0em 0.5em;
    padding: 1px;
    
    font-weight: 700;
    font-size: 1.3em;
}

.input-sq{
    height: 3.1em;
    width: 10em;
    background-color: #40aae7;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
    align-items:center;
    border-radius: 0.5em 0.5em 0em 0.5em;
    padding: 1px;
    
    font-weight: 700;
    font-size: 1.3em;
}

.one-line{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

/* BUTTON */

button{
    justify-content: center;
    align-items: center;
    width: 21em;
    height: 3.5em;
    border-radius: 4px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    background-color: #40aae7;
    border: 0;
    color: #ffffff;
    font-size: 1.2em;
    font-weight: bold;
    text-align: center;
    
    margin: 0.5em;
    margin-top: 2em;
    opacity: 0.9;
}

button:hover{
    opacity: 1;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
}

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INFO BOXY */
.infobox{
    width: 36em;
    height: 8em;
    background-color: #40aae7;
    border-radius: 1em;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.5);
    text-decoration: none;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

a.infoboxx{
    margin-bottom: 3em;
}

.messages{
    color: #40aae7;
    font-size: 1.2em;
}

.code{
    display:none;
}